<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YurtOtomasyonu.Properties.Settings.YurtOtomasyonuConnectionString"
            connectionString="Data Source=KI\SQLDEVELOPER;Initial Catalog=YurtOtomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>

